@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

body{
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

.placeHolder-img{
    width: 30vw;
}

header{
    background-color: rgb(39, 103, 240);
    color:white;
    padding: 5px;
    width: 100%;
    text-align: center;
    position:relative;
}

#card{
    color:white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 20px;
    transition: 0.5s;
}
#card:hover{
    text-decoration: underline;
}

/*validation*/
.alert-msg, .success-msg{
    position: absolute;
    top: 20px;
    bottom: 20px;
    text-align:center;
    width: 200px;
    padding: 10px;
    background-color: rgb(209, 16, 55);
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.success-msg{
    background-color: rgb(7, 190, 7);
}
/**/

#grid{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 729px;
    background-color: rgb(33, 55, 82); 
}

/* SIDEBAR*/

#sidebar{
    grid-column: 1;
    background-color: white;
    text-align: center;
    position:relative;
    
}

#projectForm{
    position:absolute;
    top: 60px;
    width: 100%;
    left: 15px;
}

#projectForm input{
    padding: 5px;
    border: 2px solid black;
    font-family:'Roboto','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display:block;
    /* width: 90%; */
    margin: 5px;
    border-radius: 5px;
}

#projectName{
    width: 86%;
}

#projectSubmit{
    background: rgb(10, 173, 10);
    color:white;
    transition: 0.1s;
    width: 90%;
    cursor:pointer;
}

#projectSubmit:hover{
    background: rgb(21, 196, 21);
    color:white;
}


#projectDelete{
    background: rgb(204, 20, 57);
    color:white;
    transition: 0.1s;
    width: 90%;
    cursor:pointer;
}

#projectDelete:hover{
    background: rgb(235, 18, 61);
    color:white;
}

#projectList{
    font-family:'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 25px;
    width: 80%;
    position: absolute;
    top: 200px;
    cursor:pointer;
}

#projectList div{
    text-align: start;
    margin: 15px;
    padding: 10px;
    transition: 0.3s;
}

#projectList div:hover{
    background-color: rgb(39, 103, 240);
    color:white;
    border-radius: 8px;
}

.activeProject{
    background-color: rgb(39, 103, 240);
    color:white;
    border-radius: 8px;
}



/*TODO LIST*/


#todos{
    grid-column: 2;
    color:white;
    text-align: center;
    position:relative;
}

#addItem{
    font-size: 40px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid rgb(26, 128, 223);
    background: white;
    transition: all .2s ease-in-out;
    position:absolute;
    top: 15px;
    right: 15px;
    transition: 0.1s;
    cursor: pointer;
}

#addItem:hover{
    transform: scale(1.2);
}

/*todos*/
#tasksContainer{
    margin: 70px;

}
#tasksContainer div{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: white;
    color:black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    text-align: start;
    transition: 0.2s;
    position:relative;
}

#tasksContainer div:hover{
    background-color: rgb(184, 16, 49);
} 

.delBtn, .expandBtn{
    /* float: right; */
    border: none;
    font-size: 18px;
    color: rgb(192, 19, 54);
    background:white;
    border-radius: 2px;
    cursor: pointer;
}
.delBtn{
    position:absolute;
    right: 10px;
    bottom: 10px;
}

.expandBtn{
    position:absolute;
    right: 35px;
    bottom: 10px;
}

.delBtn:hover, .expandBtn:hover{
    color:white;
    background: rgb(146, 14, 41);
}

.taskTitle{
    width:max-content;
    margin: 0px;
}

.taskDate{
    position: absolute;
    right: 100px;
    bottom: 10px;
    margin:0px;
    font-family:'Roboto Mono','Courier New', Courier, monospace;
}

/*description popup*/

.descriptionBox{
    position: absolute;
    bottom: 200px;
    left: 350px;
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border: 6px solid black;
    width: 400px;
    height: 300px;
    color:black;
    text-align: left;
    padding: 20px;

}

.delDescription{
    position:absolute;
    top: 0px;
    right: 0px;
    border: none;
    font-size: 20px;
    color:white;
    background: rgb(192, 19, 54);
    cursor:pointer;
    
}

.dateDescription{
    /* float:right; */
    position:absolute;
    bottom: 0px;
    right: 20px;
}

/* POPUPFORM*/

#popUpForm{
    /* width: 350px;
    height: 500px; */
    width: 400px;
    height: 510px;
    border: 7px solid black;
    border-radius: 5px;
    background-color:white;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: 100px;
    left: 350px;
}

#popUpForm input{
    width: 90%;
    margin: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

#descriptionBox{
    height: 100px;
    text-align: start;
}

#popUpBtns{
    margin: 0px;
    padding: 0px;
}

#popUpBtns input:nth-child(1){
    background: rgb(42, 187, 42);
    color:white;
    transition: 0.1s;
}

#popUpBtns input:nth-child(2){
    background:crimson;
    color:white;
    transition: 0.1s;
}

#popUpBtns input:nth-child(1):hover{
    background: rgb(26, 134, 26);
    color:white;
}

#popUpBtns input:nth-child(2):hover{
    background:rgb(168, 3, 36);
    color:white;
}
#cancelTask, #submitTask{
    cursor: pointer;
}





